// THEMES
// Light Theme
$light-theme-header-bg: ##F0F0F0;
$light-theme-content-bg: #FCFCFC;
$light-theme-color: #000;

// Dark Theme
$dark-theme-header-bg: #171819;
$dark-theme-content-bg: #434756
$dark-theme-color: #FFF;
